:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --heading-color: #dc3545;
    --font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--heading-color);
    font-size: 24px;
    text-align: center;
}

.container {
    background-color: #f8f9fa;
    width: 500px;
    height: 400px;
    margin: 20px auto;
    padding: 20px;
}

ul {
    list-style-type: disc; /* Added to display list item dots */
    padding-left: 20px; /* Adjust the spacing as needed */
}

ul li {
    margin-bottom: 5px;
}

ul .first-item {
    font-weight: bold;
}

img {
    width: 500px;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: var(--secondary-color);
    color: #fff;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}
